{
    "rules": {
        "quotes": [1, "single"]
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "templateStrings": true,
        "modules": true,
        "classes": true,
        "generators": true,
        "objectLiteralShorthandProperties": true
    }
}
