/*
color and borders
*/
.public_fixedDataTable_header,
.public_fixedDataTable_header .public_fixedDataTableCell_main,
.public_fixedDataTableCell_main,
.public_fixedDataTableRow_main,
.public_fixedDataTableRow_highlighted,
.public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
  background-color: inherit;
  background-image: none;
}

.public_fixedDataTable_main {
    border: solid 1px #000000;
}

.public_fixedDataTable_header {
    border-bottom: none;
}

.public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
}

.fixedDataTable_hasBottomBorder,
.fixedDataTableRow_rowWrapper {
    border-bottom: solid 1px #000000;
}

.public_fixedDataTable_footer .public_fixedDataTableCell_main {
  border-top: solid 1px #000000;
}

.public_fixedDataTableCell_main {
  border: solid 1px #000000;
  border-width: 0 1px 0 0;
}

.fixedDataTableRow_fixedColumnsDivider {
  border-left: none;
}

/*
fonts
*/
.public_fixedDataTable_header .public_fixedDataTableCell_main {
    font-size: 11px;
}