/*
color and borders
*/
.public_fixedDataTable_header,
.public_fixedDataTable_header .public_fixedDataTableCell_main,
.public_fixedDataTableCell_main,
.public_fixedDataTableRow_main,
.public_fixedDataTableRow_highlighted,
.public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
  background-color: inherit;
  background-image: none;
}

.public_fixedDataTable_main {
    border: solid 1px #000000;
}

.public_fixedDataTable_header {
    border-bottom: none;
}

.public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
}

.fixedDataTable_hasBottomBorder,
.fixedDataTableRow_rowWrapper {
    border-bottom: solid 1px #000000;
}

.public_fixedDataTable_footer .public_fixedDataTableCell_main {
  border-top: solid 1px #000000;
}

.public_fixedDataTableCell_main {
  border: solid 1px #000000;
  border-width: 0 1px 0 0;
}

.fixedDataTableRow_fixedColumnsDivider {
  border-left: none;
}

.public_fixedDataTableRow_main {
    background-color: '#2d2e2f';
    background-color: rgba(201, 201, 201, 0.2);
}
.public_fixedDataTableRow_highlighted {
    background-color: '#3d3f40';
    background-color: rgba(201, 201, 201, 0.3);
}
.public_fixedDataTableRow_main.rowType1 {
    background-color: '#370506';
    background-color: rgba(255, 0, 0, 0.2);
}
.public_fixedDataTableRow_highlighted.rowType1 {
    background-color: '#4e0606';
    background-color: rgba(255, 0, 0, 0.3);
}

.public_fixedDataTableRow_main.rowType2 {
    background-color: '#042230';
    background-color: rgba(0, 174, 255, 0.2);
}
.public_fixedDataTableRow_highlighted.rowType2 {
    background-color: '#052839';
    background-color: rgba(0, 174, 255, 0.3);
}

/*
fonts
*/
.public_fixedDataTable_header .public_fixedDataTableCell_main {
    font-size: 11px;
}