.dataTable {
    font-size: 11px;
}
.dataTable tr{
    color: #fff;
}
.dataTableBackground {
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(7px);
}
.tableHeader {
    font-size: 11px;
    color: #767677;
    text-transform: uppercase;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.8);
}
.tableRow {
    background-color: #2D2D2D;
    background-color: rgba(201, 201, 201, 0.2);
}
.tableRow.even {
    background-color: #5A5A5A;
    background-color: rgba(201, 201, 201, 0.3);
}
.tableRow .secondary{
    color: #B3B3B3;
}
.tableRow.type1,
.tableRow.firstMergedRow{
    background-color: #2D0000;
    background-color: rgba(255, 0, 0, 0.2);
}
.tableRow.type1.even,
.tableRow.firstMergedRow.even{
    background-color: #5A0000;
    background-color: rgba(255, 0, 0, 0.3);
}
.tableRow.type1 .secondary{
    color: #FF8585;
}
.tableRow.type2 {
    background-color: #001E2D;
    background-color: rgba(0, 174, 255, 0.2);
}
.tableRow.type2.even {
    background-color: #003C5A;
    background-color: rgba(0, 174, 255, 0.3);
}
.tableRow.type2 .secondary{
    color: #379DCC;
}
.tableRow.failed{
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    color: #7C6617;
}
.firstMergedRow {
    border-bottom: 2px solid #fff !important;
    border-bottom-color: rgba(255, 255, 255, 0.6) !important;
    border-top: 2px solid #fff;
    border-top-color: rgba(255, 255, 255, 0.6);
}
