.no-bg {
    background: none !important;
    box-shadow: none !important;
}
.header-icon-1,
.header-icon-2,
.header-icon-13,
.header-icon-chart-bar,
.header-icon-chart-line,
.icon-attention{
    font-family: "Custom-Entypo-mnmo" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    text-align: center;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.header-icon-1:before {
  content: "g";
}
.header-icon-2:before,
.header-icon-13:before {
  content: "h";
}
.header-icon-chart-bar:before {
  content: "l";
}
.header-icon-chart-line:before {
  content: "l";
}
.icon-attention:before {
  content: "n";
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #FFF;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.PPTCorners{
    border-radius: 0px 0px 10px 10px !important;
}
