.no-bg {
    background: none !important;
    box-shadow: none !important;
}
.header-icon-1,
.header-icon-2,
.header-icon-13,
.icon-chart-bar,
.icon-empty,
.icon-clock,
.header-icon-chart-line,
.icon-attention{
    font-family: "Custom-Entypo-mnmo" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    text-align: center;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.header-icon-1:before {
  content: "g";
}
.header-icon-2:before,
.header-icon-13:before {
  content: "h";
}
.header-icon-chart-line:before {
  content: "l";
}
.icon-attention:before {
  content: "n";
}

.icon-chart-bar:before {
  content: "k";
}
.icon-empty:before {
  content: "q";
}
.icon-clock:before {
  content: "s";
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #FFF;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.PPTCorners{
    border-radius: 0px 0px 10px 10px !important;
}

@media screen, print {

    .simple-table-print{
        width: 100%;
        border-spacing:0;
        border-collapse: collapse;
        font-size: 12px;
        /*-webkit-print-color-adjust:exact;*/
    }
    .simple-table-print thead th{
        padding-bottom: 1em;
    }
    .simple-table-print th,
    .simple-table-print td{
        text-align: center;
    }
    .simple-table-print tr.odd{
        background-color: #eee;
    }
    .simple-table-print td .secondary{
        font-size: 10px;
    }

}
.addRowButton{
    opacity: 0.5;
}
.addRowButton:hover{
    opacity: 1;
}
